.filler-2-inner {
    background-color: #f2f2f2;
    padding: 0 100px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.filler-2-inner h1 {
    color: #805f0d;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 52px;
}

.filler-2-inner p{
    text-align: center;
    font-size: 19px;
}